* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    height: 100px;
}

.logo {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: 30px;
}

.menu-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    color: white;
    padding-right: 20px;
}

.nav-items {
    display: flex;
    gap: 20px;
}

.nav-items .item {
    font-size: 25px;
    color: white;
}

.menu {
    display: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    margin-right: 10px;
}

.menu-toggle {
    display: none;
}

@media (max-width: 728px) {
    .nav-items {
        display: none;
        flex-direction: column;
        background-color: black;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }
    .menu-toggle:checked + .menu + .nav-items {
        display: flex;
    }
    .menu {
        display: block;
        font-size: 25px;
    }
    .nav-items .item {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid white;
    }
}
